@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    max-height:100vh;
}

.main-wrapper {
    padding:3rem;
    background-image:url(/img/bg10.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    height:85vh;
}

.header {
    height: 10vh;
}

.is-main {
    background-color:rgb(14, 203, 250);
    color:white;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:10vh;
}

.logo {
    display:flex;
    flex-direction:column;
    color:white;
    font-weight:bold;
    
}

.logo-header-title {
    font-size:4.27vh;
    line-height:100%;
}

.logo-header-subtitle {
    font-size:1vh;    
}

.logo-footer-title {
    font-size:4.27vh;
    line-height:100%;
}

.logo-footer-subtitle {
    font-size:1vh;
}

